﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1292px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:173px;
  width:1212px;
  height:456px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:184px;
  width:149px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u2300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:258px;
  width:171px;
  height:41px;
  text-align:left;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u2302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:301px;
  width:225px;
  height:41px;
  text-align:left;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u2304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:343px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:386px;
  width:251px;
  height:41px;
  text-align:left;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:247px;
  word-wrap:break-word;
}
#u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:428px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:471px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:271px;
  width:100px;
  height:16px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2312_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:314px;
  width:100px;
  height:16px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2314_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:356px;
  width:100px;
  height:16px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2316_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:399px;
  width:100px;
  height:16px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2318_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:441px;
  width:100px;
  height:16px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2320_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:484px;
  width:100px;
  height:16px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2322_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:556px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:569px;
  width:100px;
  height:16px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2326_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:569px;
  width:300px;
  height:25px;
}
#u2328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:513px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:526px;
  width:100px;
  height:16px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2331_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:133px;
  width:140px;
  height:24px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
