﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:49px;
  width:630px;
  height:191px;
  font-size:12px;
}
#u2983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:21px;
  width:147px;
  height:24px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u2984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u2985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:250px;
  width:76px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:250px;
  width:83px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u2987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:101px;
  width:72px;
  height:15px;
  font-size:12px;
}
#u2987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:148px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u2988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:143px;
  width:144px;
  height:25px;
}
#u2989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:148px;
  width:47px;
  height:15px;
  font-size:12px;
}
#u2990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:197px;
  width:46px;
  height:15px;
  font-size:12px;
}
#u2992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:190px;
  width:71px;
  height:29px;
}
#u2993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  font-family:'Georgia Regular', 'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2993_input:disabled {
  color:grayText;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:93px;
  width:69px;
  height:27px;
}
#u2995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2995_input:disabled {
  color:grayText;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:93px;
  width:62px;
  height:27px;
}
#u2996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2996_input:disabled {
  color:grayText;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:93px;
  width:62px;
  height:27px;
}
#u2997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2997_input:disabled {
  color:grayText;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:96px;
  width:240px;
  height:22px;
}
#u2998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2998_input:disabled {
  color:grayText;
}
#u2999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:62px;
  width:81px;
  height:15px;
  font-size:12px;
}
#u2999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:55px;
  width:154px;
  height:29px;
}
#u3000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:29px;
  font-family:'Century Regular', 'Century';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3000_input:disabled {
  color:grayText;
}
