﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:644px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:51px;
  width:594px;
  height:644px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:118px;
  width:368px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  white-space:nowrap;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:540px;
  width:140px;
  height:40px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:540px;
  width:140px;
  height:40px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:193px;
  width:266px;
  height:48px;
  font-size:20px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:198px;
  width:100px;
  height:16px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u535_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:198px;
  width:100px;
  height:16px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u537_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:272px;
  width:266px;
  height:72px;
  font-size:20px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:277px;
  width:100px;
  height:16px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u541_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:277px;
  width:100px;
  height:16px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u543_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:356px;
  width:266px;
  height:48px;
  font-size:20px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:361px;
  width:100px;
  height:16px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u547_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:361px;
  width:100px;
  height:16px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u549_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:420px;
  width:266px;
  height:48px;
  font-size:20px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:425px;
  width:100px;
  height:16px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u553_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:425px;
  width:100px;
  height:16px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u555_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
