﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1292px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:888px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:173px;
  width:1212px;
  height:888px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:1208px;
  word-wrap:break-word;
}
#u1929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:186px;
  width:398px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:394px;
  word-wrap:break-word;
}
#u1931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:254px;
  width:342px;
  height:32px;
  text-align:left;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:338px;
  word-wrap:break-word;
}
#u1933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:309px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:262px;
  width:100px;
  height:16px;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1935_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1937 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:262px;
  width:100px;
  height:16px;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1937_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:317px;
  width:100px;
  height:16px;
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1939_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:317px;
  width:100px;
  height:16px;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1941_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:351px;
  width:295px;
  height:32px;
  text-align:left;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:359px;
  width:100px;
  height:16px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1945_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:359px;
  width:100px;
  height:16px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1947_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:393px;
  width:295px;
  height:32px;
  text-align:left;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:401px;
  width:100px;
  height:16px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1951_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:401px;
  width:100px;
  height:16px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1953_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:435px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:443px;
  width:100px;
  height:16px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1957_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:443px;
  width:100px;
  height:16px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1959_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:484px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:492px;
  width:100px;
  height:16px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1963_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:492px;
  width:100px;
  height:16px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1965_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:526px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:534px;
  width:100px;
  height:16px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1969_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:534px;
  width:100px;
  height:16px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1971_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:568px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:576px;
  width:100px;
  height:16px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1975_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:576px;
  width:100px;
  height:16px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1977_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:610px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:618px;
  width:100px;
  height:16px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1981_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:618px;
  width:100px;
  height:16px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1983_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:652px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:660px;
  width:100px;
  height:16px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1987_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:660px;
  width:100px;
  height:16px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1989_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:694px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:702px;
  width:100px;
  height:16px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1993_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:702px;
  width:100px;
  height:16px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1995_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:736px;
  width:265px;
  height:32px;
  text-align:left;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:744px;
  width:100px;
  height:16px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1999_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:744px;
  width:100px;
  height:16px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2001_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:778px;
  width:265px;
  height:32px;
  text-align:left;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:786px;
  width:100px;
  height:16px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2005_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:786px;
  width:100px;
  height:16px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2007_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:820px;
  width:265px;
  height:32px;
  text-align:left;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:828px;
  width:100px;
  height:16px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2011_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:828px;
  width:100px;
  height:16px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2013_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:862px;
  width:265px;
  height:32px;
  text-align:left;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:870px;
  width:100px;
  height:16px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2017_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:870px;
  width:100px;
  height:16px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2019_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:904px;
  width:265px;
  height:32px;
  text-align:left;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:912px;
  width:100px;
  height:16px;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2023_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:912px;
  width:100px;
  height:16px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2025_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:946px;
  width:265px;
  height:32px;
  text-align:left;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:954px;
  width:100px;
  height:16px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2029_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:954px;
  width:100px;
  height:16px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2031_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:139px;
  width:140px;
  height:24px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
