h6{
	
	
	color:#b4b4b4;
}

label{
	
	
	color:#b4b4b4;
	line-height: 16px !important;
    font-size: 14px   !important;
    font-weight: 400  !important;
	font-family: 'Roboto', sans-serif;
}
.fa{
	
	
	
	font-size:22px !important;
}



.headerinfo{
	
	line-height:30px;
	color:#000000;
	background-color:#F0F6FA;
	padding-left:35px;
	font-family: 'Roboto', sans-serif;
	
}

.form-control{
	
	
	border-radius:.00rem !important;
	padding:0.3rem .75rem !important;
}

.page-wrapper{
	
	background-color:#FFF;
}

.heighthr{
	
	
	margin-top:0px;
}

html body .m-b-20{
	
	
	margin-bottom:10px;
	font-family: 'Roboto', sans-serif;
}


[role=button], a, area, button, input, label, select, summary, textarea{
	
	border:none;
	font-family: 'Roboto', sans-serif;
	
	
}


.card-body{
	
	//padding-top:10px;
	
}

.datepicker    
{
	
	
	z-index:56 !important;
}
.datepicker-dropdown
{
	
	z-index:56 !important;
}

.dropdown-menu{
	
	z-index:56 !important;
	
}

.datepicker-orient-left{
	
	z-index:56 !important;
}

.datepicker-orient-top{
	
	z-index:56 !important;
	
}
