﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1327px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:66px;
  width:1212px;
  height:373px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:77px;
  width:149px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u2384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:151px;
  width:171px;
  height:41px;
  text-align:left;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u2386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:193px;
  width:225px;
  height:41px;
  text-align:left;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u2388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:233px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:274px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:315px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:356px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:164px;
  width:100px;
  height:16px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2396_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:206px;
  width:100px;
  height:16px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2398_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:246px;
  width:100px;
  height:16px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2400_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:287px;
  width:100px;
  height:16px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2402_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:328px;
  width:100px;
  height:16px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2404_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:369px;
  width:100px;
  height:16px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2406_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:365px;
  width:300px;
  height:25px;
}
#u2408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:9px;
  width:195px;
  height:27px;
  font-size:15px;
  color:#FFFFFF;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:191px;
  word-wrap:break-word;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:27px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:9px;
  width:160px;
  height:27px;
  font-size:15px;
  color:#FFFFFF;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:156px;
  word-wrap:break-word;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:75px;
  width:1212px;
  height:240px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:86px;
  width:149px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u2418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:160px;
  width:171px;
  height:41px;
  text-align:left;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u2420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:202px;
  width:225px;
  height:41px;
  text-align:left;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:246px;
  width:303px;
  height:41px;
  text-align:left;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:173px;
  width:100px;
  height:16px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2424_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:215px;
  width:100px;
  height:16px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2426_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:259px;
  width:100px;
  height:16px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2428_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:255px;
  width:300px;
  height:25px;
}
#u2430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
