﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:61px;
  width:129px;
  height:22px;
}
#u2367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:106px;
  width:129px;
  height:22px;
}
#u2368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:148px;
  width:129px;
  height:22px;
}
#u2369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:62px;
  width:116px;
  height:22px;
}
#u2370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:104px;
  width:116px;
  height:22px;
}
#u2371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:148px;
  width:116px;
  height:22px;
}
#u2372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u2373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.6);
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:22px;
  width:50px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.6);
}
#u2373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u2374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.6);
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:22px;
  width:129px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.6);
}
#u2374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
