

.switch.round label .lever {
    width: 54px;
    height: 34px;
    border-radius: 10em;
}
.switch.round label .lever:after {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    left: 4px;
    top: 4px;
}
.thStlyle{
    background-color: #F6F6F6;
    font-weight: 600;
    color: #424242;
}
.tableRow{
    margin-top: 20px;
}
.addNewUserBtnRow{
    background-color: #FFF;
}
.btnSaveProceedConStyle{
    background-color: #1E88E5;
    box-shadow: 0px 0px #1E88E5;
    }
.btnSaveProceedConStyle:hover{
    background-color: #1E88E5;
    border: 1px solid #1E88E5;
    }