﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:54px;
  width:151px;
  height:25px;
}
#u862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:16px;
  width:40px;
  height:28px;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:54px;
  width:159px;
  height:25px;
}
#u864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:54px;
  width:211px;
  height:25px;
}
#u865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:16px;
  width:99px;
  height:28px;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:16px;
  width:97px;
  height:28px;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:110px;
  width:96px;
  height:29px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:16px;
  width:60px;
  height:28px;
  font-family:'Segoe UI Semibold', 'Segoe UI Regular', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:54px;
  width:119px;
  height:25px;
}
#u871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u871_input:disabled {
  color:grayText;
}
#u871_ann {
  border-width:0px;
  position:absolute;
  left:837px;
  top:50px;
  width:1px;
  height:1px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:54px;
  width:119px;
  height:25px;
}
#u872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u872_input:disabled {
  color:grayText;
}
