﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:60px;
  width:818px;
  height:476px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:163px;
  width:69px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:165px;
  width:202px;
  height:25px;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:125px;
  width:74px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:130px;
  width:202px;
  height:22px;
}
#u239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u239_input:disabled {
  color:grayText;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:201px;
  width:60px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:206px;
  width:202px;
  height:22px;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u241_input:disabled {
  color:grayText;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:239px;
  width:60px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:484px;
  width:97px;
  height:31px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:86px;
  width:159px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:89px;
  width:272px;
  height:22px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u245_input:disabled {
  color:grayText;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:322px;
  width:89px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:336px;
  width:200px;
  height:25px;
}
#u247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:336px;
  width:51px;
  height:25px;
}
#u248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:321px;
  width:20px;
  height:28px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:337px;
  width:51px;
  height:25px;
}
#u250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:335px;
  width:33px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:333px;
  width:69px;
  height:32px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:336px;
  width:78px;
  height:22px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u253_input:disabled {
  color:grayText;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:371px;
  width:200px;
  height:25px;
}
#u255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:371px;
  width:51px;
  height:25px;
}
#u256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:368px;
  width:20px;
  height:28px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:372px;
  width:51px;
  height:25px;
}
#u258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:370px;
  width:33px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:371px;
  width:78px;
  height:22px;
}
#u260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u260_input:disabled {
  color:grayText;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:411px;
  width:200px;
  height:25px;
}
#u262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:411px;
  width:51px;
  height:25px;
}
#u263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:408px;
  width:20px;
  height:28px;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:412px;
  width:51px;
  height:25px;
}
#u265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:410px;
  width:33px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:411px;
  width:78px;
  height:22px;
}
#u267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u267_input:disabled {
  color:grayText;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:241px;
  width:202px;
  height:25px;
}
#u268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:6px;
  width:810px;
  height:40px;
  font-family:'Segoe UI Semibold', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:806px;
  word-wrap:break-word;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:284px;
  width:60px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:287px;
  width:574px;
  height:25px;
}
#u272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
