.apple{
	
	background-color:#F0F0F6;
	height:30px;
	font-family: 'Roboto', sans-serif;


	
	
	
}
.apple h6{
	
	line-height:30px;
	color:#16325C !important;
	font-family: 'Roboto', sans-serif;


	
}
.apple1{
	
	background-color:#F0F0F6;
	font-family: 'Roboto', sans-serif;


	
}

.apple1 h6{
	
	//line-height:25px;
	 padding-top:5px;
	 font-family: 'Roboto', sans-serif;
	 color:#16325C !important;


	
}

.form-control:disabled, .form-control[readonly]{
	
	
	background-color:white;
	font-family: 'Roboto', sans-serif;


	
}



.row1{
	margin-top:0rem;
	margin-bottom:0rem;
	font-family: 'Roboto', sans-serif;


	
}

.card-body apple{
	background-color:#F0F6FA;
	font-family: 'Roboto', sans-serif;


	
	
}

.apple3{
	background-color:#F0F6FA;
	//line-height:30px;
	//padding-bottom:-100px
	font-family: 'Roboto', sans-serif;

;
	
	
}

.card-body{
	
	padding:0px;
	font-family: 'Roboto', sans-serif;


	
	
}
.row{
	
	
	margin-left:25px !important;
	font-family: 'Roboto', sans-serif;
	margin-right:25px !important;


	
}

.card-no-border .card{
	
	
	margin-top:15px !important;
	font-family: 'Roboto', sans-serif;


}


.btn-info, .btn-info.disabled{
	
	
	margin-left:-35px !important;
	font-family: 'Roboto', sans-serif;


}

.custom-control-input:checked ~ .custom-control-indicator{
	
	background-color:#1e88e5 !important ;
	font-family: 'Roboto', sans-serif;


	
}

form label{
	
	margin-left:20px;
	font-family: 'Roboto', sans-serif;


}
h6{
	
	
	color:#ccc !important;
	font-family: 'Roboto', sans-serif !important;


}

.form-cc{
	
	color:red;
	font-family: 'Roboto', sans-serif;


	
}

.form-control{
	
	color:#707070 !important;
	font-family: 'Roboto', sans-serif !important;
	font-size:14px !important;


}
label{
	color:#7070707;
	//line-height: 25px;
    font-size: 14px;
    font-weight: 400;
	font-family: 'Roboto', sans-serif;


	
}

form label{
	
	
	
	margin-left:2px;
	font-family: 'Roboto', sans-serif;



}