﻿.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.box_1 {
}
.primary_button {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.droplist {
  color:#000000;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.link_button {
  color:#169BD5;
}
.line {
  color:#CC9933;
}
.table_cell {
}
.icon {
}
.table {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.table_cell1 {
  font-size:13px;
  color:#000000;
}
.box_2 {
}
.box_3 {
}
.arrow {
}
.button {
}
.radio_button {
  text-align:left;
}
.image {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
