﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:785px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:45px;
  width:774px;
  height:216px;
  font-size:12px;
  color:#666666;
}
#u2521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:105px;
  width:83px;
  height:15px;
  font-size:12px;
}
#u2522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u2523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:152px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u2523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u2524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:193px;
  width:140px;
  height:15px;
  font-size:12px;
}
#u2524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:232px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u2525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:98px;
  width:69px;
  height:27px;
}
#u2526_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2526_input:disabled {
  color:grayText;
}
#u2527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:125px;
  height:31px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u2527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u2528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:277px;
  width:79px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:277px;
  width:71px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:147px;
  width:146px;
  height:25px;
}
#u2530_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:152px;
  width:47px;
  height:15px;
  font-size:12px;
}
#u2531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:193px;
  width:25px;
  height:19px;
}
#u2533_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:196px;
  width:7px;
  height:15px;
  font-size:12px;
}
#u2534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:194px;
  width:38px;
  height:18px;
}
#u2535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2535_input:disabled {
  color:grayText;
}
#u2536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:197px;
  width:11px;
  height:15px;
  font-size:12px;
}
#u2536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:194px;
  width:38px;
  height:18px;
}
#u2537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2537_input:disabled {
  color:grayText;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:198px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u2538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:198px;
  width:113px;
  height:15px;
  font-size:12px;
}
#u2539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:233px;
  width:113px;
  height:15px;
  font-size:12px;
}
#u2540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:227px;
  width:25px;
  height:19px;
}
#u2542_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:230px;
  width:7px;
  height:15px;
  font-size:12px;
}
#u2543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:228px;
  width:38px;
  height:18px;
}
#u2544_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2544_input:disabled {
  color:grayText;
}
#u2545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:231px;
  width:11px;
  height:15px;
  font-size:12px;
}
#u2545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:228px;
  width:38px;
  height:18px;
}
#u2546_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2546_input:disabled {
  color:grayText;
}
#u2547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:232px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u2547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:98px;
  width:62px;
  height:27px;
}
#u2548_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2548_input:disabled {
  color:grayText;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:98px;
  width:62px;
  height:27px;
}
#u2549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2549_input:disabled {
  color:grayText;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:193px;
  width:38px;
  height:18px;
}
#u2550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2550_input:disabled {
  color:grayText;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:228px;
  width:38px;
  height:18px;
}
#u2551_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2551_input:disabled {
  color:grayText;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:193px;
  width:51px;
  height:22px;
}
#u2552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2552_input:disabled {
  color:grayText;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:229px;
  width:51px;
  height:22px;
}
#u2553_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2553_input:disabled {
  color:grayText;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:101px;
  width:240px;
  height:22px;
}
#u2554_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2554_input:disabled {
  color:grayText;
}
#u2555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:62px;
  width:81px;
  height:15px;
  font-size:12px;
}
#u2555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:55px;
  width:154px;
  height:29px;
}
#u2556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:29px;
  font-family:'Century Regular', 'Century';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u2556_input:disabled {
  color:grayText;
}
