﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:280px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:217px;
  width:856px;
  height:279px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:266px;
  width:209px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:21px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:294px;
  width:243px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:321px;
  width:194px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:263px;
  width:129px;
  height:22px;
}
#u2182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2182_input:disabled {
  color:grayText;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:292px;
  width:129px;
  height:22px;
}
#u2183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2183_input:disabled {
  color:grayText;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:320px;
  width:129px;
  height:22px;
}
#u2184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2184_input:disabled {
  color:grayText;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:322px;
  width:132px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:319px;
  width:101px;
  height:22px;
}
#u2187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2187_input:disabled {
  color:grayText;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:405px;
  width:209px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:403px;
  width:128px;
  height:22px;
}
#u2189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2189_input:disabled {
  color:grayText;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:21px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:435px;
  width:279px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:21px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:465px;
  width:279px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:435px;
  width:45px;
  height:16px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2193_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:435px;
  width:40px;
  height:16px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2194_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:467px;
  width:45px;
  height:16px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2196_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:467px;
  width:45px;
  height:16px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2197_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:21px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:237px;
  width:279px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:233px;
  width:129px;
  height:22px;
}
#u2199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2199_input:disabled {
  color:grayText;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:232px;
  width:198px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:194px;
  white-space:nowrap;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:324px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:292px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:268px;
  width:198px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:194px;
  white-space:nowrap;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:21px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:349px;
  width:243px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:376px;
  width:194px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:347px;
  width:129px;
  height:22px;
}
#u2206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2206_input:disabled {
  color:grayText;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:375px;
  width:129px;
  height:22px;
}
#u2207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2207_input:disabled {
  color:grayText;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:377px;
  width:132px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:374px;
  width:101px;
  height:22px;
}
#u2210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2210_input:disabled {
  color:grayText;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:379px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:347px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:329px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:57px;
  width:174px;
  height:328px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:29px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:13px;
  width:830px;
  height:28px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:19px;
  width:117px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:41px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:7px;
  width:174px;
  height:40px;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:61px;
  width:140px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:332px;
  width:172px;
  height:25px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:168px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:145px;
  width:99px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  white-space:nowrap;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:21px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:176px;
  width:106px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  white-space:nowrap;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:88px;
  width:128px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:118px;
  width:111px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  white-space:nowrap;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:193px;
  width:119px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  white-space:nowrap;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:204px;
  width:111px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  white-space:nowrap;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:234px;
  width:94px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  white-space:nowrap;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:267px;
  width:166px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  white-space:nowrap;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:192px;
  width:300px;
  height:22px;
}
#u2227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2227_input:disabled {
  color:grayText;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:117px;
  width:165px;
  height:28px;
}
#u2228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2228_input:disabled {
  color:grayText;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:147px;
  width:165px;
  height:28px;
}
#u2229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2229_input:disabled {
  color:grayText;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:82px;
  width:165px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:82px;
  width:165px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:23px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:117px;
  width:131px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:23px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:150px;
  width:131px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:299px;
  width:154px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  white-space:nowrap;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:52px;
  width:107px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:2px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:502px;
  width:856px;
  height:1px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:687px;
  width:119px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  white-space:nowrap;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:686px;
  width:300px;
  height:22px;
}
#u2238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2238_input:disabled {
  color:grayText;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:611px;
  width:165px;
  height:28px;
}
#u2239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2239_input:disabled {
  color:grayText;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:641px;
  width:165px;
  height:28px;
}
#u2240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2240_input:disabled {
  color:grayText;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:576px;
  width:165px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:26px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:576px;
  width:165px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:23px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:611px;
  width:131px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:23px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:644px;
  width:131px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:131px;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:546px;
  width:119px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  white-space:nowrap;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:16px;
  width:25px;
  height:23px;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:280px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:715px;
  width:856px;
  height:279px;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:764px;
  width:209px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:21px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:792px;
  width:243px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:819px;
  width:194px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:761px;
  width:129px;
  height:22px;
}
#u2252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2252_input:disabled {
  color:grayText;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:790px;
  width:129px;
  height:22px;
}
#u2253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2253_input:disabled {
  color:grayText;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:818px;
  width:129px;
  height:22px;
}
#u2254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2254_input:disabled {
  color:grayText;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:820px;
  width:132px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:817px;
  width:101px;
  height:22px;
}
#u2257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2257_input:disabled {
  color:grayText;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:21px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:903px;
  width:209px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:901px;
  width:128px;
  height:22px;
}
#u2259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2259_input:disabled {
  color:grayText;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:21px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:933px;
  width:279px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:21px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:963px;
  width:279px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:933px;
  width:45px;
  height:16px;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2263_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:933px;
  width:40px;
  height:16px;
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2264_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:965px;
  width:45px;
  height:16px;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2266_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:965px;
  width:45px;
  height:16px;
}
#u2267_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2267_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:21px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:735px;
  width:279px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:731px;
  width:129px;
  height:22px;
}
#u2269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2269_input:disabled {
  color:grayText;
}
#u2270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:730px;
  width:198px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:194px;
  white-space:nowrap;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:822px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:790px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:766px;
  width:198px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:194px;
  white-space:nowrap;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:21px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:847px;
  width:243px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:874px;
  width:194px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:845px;
  width:129px;
  height:22px;
}
#u2276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2276_input:disabled {
  color:grayText;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:873px;
  width:129px;
  height:22px;
}
#u2277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2277_input:disabled {
  color:grayText;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:875px;
  width:132px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:872px;
  width:101px;
  height:22px;
}
#u2280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2280_input:disabled {
  color:grayText;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:877px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:845px;
  width:49px;
  height:18px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
