﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:532px;
  width:108px;
  height:30px;
}
#u178_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178.mouseOver {
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:88px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:413px;
  width:319px;
  height:88px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:315px;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:445px;
  width:173px;
  height:25px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:13px;
  width:344px;
  height:68px;
  font-family:'Segoe UI Semibold', 'Segoe UI';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:340px;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:202px;
  width:188px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:211px;
  width:300px;
  height:25px;
}
#u183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:331px;
  width:170px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:102px;
  width:188px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:105px;
  width:300px;
  height:25px;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:401px;
  width:188px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:156px;
  width:188px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:159px;
  width:300px;
  height:22px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u189_input:disabled {
  color:grayText;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:40px;
  width:85px;
  height:25px;
}
#u190_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190.mouseOver {
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:507px;
  width:359px;
  height:11px;
  font-size:12px;
  color:#000000;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:355px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:668px;
  width:140px;
  height:40px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:334px;
  width:300px;
  height:22px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u193_input:disabled {
  color:grayText;
}
