  * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    font-family: 'Acumin Pro Regular';
/*   font-size: 15px;*/
}

.logofont{
  @import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
}







/* carosuel start */

/*.contactbackgroundimage{
  background-image: url("public/images/20.svg");
  background-position-x: center;
  background-size: cover;
  height: 450px;
  background-repeat: no-repeat;
}*/

.careerscarosuelpadding{
  margin-top: 5%;
  margin-left: -20px;
  font-size: 25px;
  line-height: 260%;
}



.carousel-caption4{
  positon: absolute;
  left: 0;
  top: 10%;
  width 50%;
  margin-left: 16%;
  text-align: left;
  text-decoration: black;

}


/*carousel inner start*/

.card{
  border: 1px solid #EAEAEA;
}

.form-control{
  border: 1px solid #EAEAEA;
}

.button {
  display: inline-block;
  background-color: #172432;
  border: none;
  color: #ddd;
  padding: 10px 20px;
  border-radius: 5px;
}


/*carousel inner end*/

@media only screen and (max-width : 700px) {

 .mobiveiw5
{    
  font-size: small;
     display: block;
     top:1%; 
     margin-left: -30px;
     text-align: left;
  }

}

/* carosuel end */


/*collapse start*/

.ul1{
  font-size: 15px;
}


.border1{
 background: transparent linear-gradient(92deg, #F6F6F6 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;

/*  border: 50px solid #EAEAEA;*/
/*  box-shadow: 4px 4px 10px #AFAFAF1F;*/
}


.btn {
    padding: 14px 24px;
    border: 0 none;
/*    font-weight: 700;*/
/*    letter-spacing: 1px;*/
/*    text-transform: uppercase;*/
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0073AF;
    color: #ffffff;
    border: 0 none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #0073AF;

}

.btn-primary:active, .btn-primary.active {
    background:#0073AF;
    box-shadow: none;
}
/*.btn{
  border: none;
*/}

/*collapse end*/


.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}
/* min width = the screen size minmum Or higher is work */
/* max width = the screen size below or lower */
@media (min-width: 200px) {
/*// Medium devices (tablets, 768px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
} 

/*.mobiveiw5
{    
  font-size: small;
     display: block; 
     margin-left: -30px;
     text-align: left;
  }*/
 
}



@media (min-width: 576px) {
/*// Small devices (landscape phones, 576px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}

.mobiveiw4
{    
  font-size: small;
     display: block; 
     top: 1%;
     margin-left: -30px;
     text-align: left;
  }

/*.mobiveiw5
{    
  font-size: small;
     display: block; 
     margin-left: -30px;
     text-align: left;
  }*/
}


@media (min-width: 768px) {
/*// Medium devices (tablets, 768px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}

}

@media (min-width: 992px) {
/*// Large devices (desktops, 992px and up)*/
.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
} 

}

@media (min-width: 1200px) {
/*// Extra large devices (large desktops, 1200px and up)*/
.divDesktopView {
  display: block;
}

.divMobileView {
  display: none;
}  
}

}