	* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    font-family: 'Acumin Pro Regular';
/*   font-size: 15px;*/
}

.logofont{
  @import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
}

horizantal line start

.border-bottom-end{
  border-color: 1px solid #EAEAEA;
  opacity: 1;
}

horizantal line end

/*cards start*/

.border{
  border: 1px solid #EAEAEA;
}

.bg-body-tertiary{
background: transparent linear-gradient(97deg, #F6F6F6 0%, #FFFFFF 100%) 0% 0% no-repeat;
}


.card-img-top2 {
  position: relative;
  top: -35px;
}

.text11 {
  position: relative;
  top: -35px;
  
}

.card-img-top1 {
  position: relative;
  top: -53px;
  /*left: 50%;
  margin-left: -30px;*/
/*  width: 60px !important;*/
/*  height: 60px;*/
}

.text12 {
  position: relative;
  top: -53px;
  /*left: 50%;
  margin-left: -30px;*/
/*  width: 60px !important;*/
/*  height: 60px;*/
}




/*mobileview  */

.card-img-topmobile2 {
  position: relative;
  top: -22px;
  
}




/*cards end*/






@media only screen and (max-width : 700px) {
.mobiveiw1
{    
  font-size: small;
     display: block; 
     top: 1%;
/*     margin-top: 4px;*/
/*     margin-left: -25px;*/
/*     positon: absolute;*/
     text-align: left;
/*     line-height: 200%;*/
  }

}



/* carosuel end */




.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}
/* min width = the screen size minmum Or higher is work */
/* max width = the screen size below or lower */
@media (min-width: 200px) {
/*// Medium devices (tablets, 768px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
} 

.mobiveiw1
{    
  font-size: small;
     display: block; 
     top: 1%;
/*     margin-top: 4px;*/
     margin-left: -30px;
/*     positon: absolute;*/
     text-align: left;
/*     line-height: 200%;*/
  }

}



@media (min-width: 576px) {
/*// Small devices (landscape phones, 576px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}

.mobiveiw1
{    
  font-size: small;
     display: block; 
     top: 1%;
     margin-top: ;
     margin-left: -30px;
/*     positon: absolute;*/
     text-align: left;
/*     line-height: 200%;*/
  }

}


@media (min-width: 768px) {
/*// Medium devices (tablets, 768px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}

}

@media (min-width: 992px) {
/*// Large devices (desktops, 992px and up)*/
.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
} 

}

@media (min-width: 1200px) {
/*// Extra large devices (large desktops, 1200px and up)*/
.divDesktopView {
  display: block;
}

.divMobileView {
  display: none;
}  


}