	* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    font-family: 'Acumin Pro Regular';
/*   font-size: 15px;*/
}

.logofont{
  @import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
}







/* carosuel start */

.servicebackgroundimage{
  background-image: url("public/images/16.png");
  background-position-x: center;
  background-size: cover;
  height: 450px;
  background-repeat: no-repeat;
}

.servicescarosuelpadding{
  margin-top: 5%;
  margin-left: -15px;
  font-size: 25px;
  line-height: 260%;
}


.carousel-caption2{
  positon: absolute;
  left: 0;
  top: 10%;
  width 50%;
  margin-left: 16%;
  text-align: left;
  text-decoration: black;

}


/*onclick start*/



.active1{
  background: transparent linear-gradient(97deg, #E1F5FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  color: #0073AF;
}

.list-group-item{
  height: 60px;
  padding: 18px;
  border: 1px solid #EAEAEA;
}

.list-group-item-action{
  background-color: #FFFFFF;
}

.list-group-item-action:hover {
  background: transparent linear-gradient(97deg, #E1F5FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
/*  margin-left: 3px;*/
   .movetext{
    margin-left: 7px;
    transition-duration: 0.2s;
   }
  color: #0073AF;
}


/*.list-group-item-action2:hover {
  background: transparent linear-gradient(97deg, #E1F5FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  color: #0073AF;
}*/

.list-group-item-action1{
  background-color: #FFFFFF;
}


/*.list-group-item-action1:hover {
  background: transparent linear-gradient(97deg, #E1F5FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  color: #0073AF;
}*/


.active12{
/*  background: transparent linear-gradient(97deg, #E1F5FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;*/
  background: transparent linear-gradient(96deg, #E1F5FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  color: #0073AF;
}



.tabs>a>p:focus{ 
  background-color:gray !important;
  display:inline-block;
  color:#000;
}



/*onclicl end*/

@media only screen and (max-width : 700px) {
.mobiveiw1
{    
  font-size: small;
     display: block; 
     top: 1%;
/*     margin-top: 4px;*/
/*     margin-left: -25px;*/
/*     positon: absolute;*/
     text-align: left;
/*     line-height: 200%;*/
  }

}



/* carosuel end */




.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}
/* min width = the screen size minmum Or higher is work */
/* max width = the screen size below or lower */
@media (min-width: 200px) {
/*// Medium devices (tablets, 768px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
} 

.mobiveiw1
{    
  font-size: small;
     display: block; 
     top: 1%;
/*     margin-top: 4px;*/
     margin-left: -30px;
/*     positon: absolute;*/
     text-align: left;
/*     line-height: 200%;*/
  }

.mobilecrouselimagewidth1{
  height: 200px;
}

}



@media (min-width: 576px) {
/*// Small devices (landscape phones, 576px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}

.mobiveiw1
{    
  font-size: small;
     display: block; 
     top: 1%;
     margin-top: ;
     margin-left: -30px;
/*     positon: absolute;*/
     text-align: left;
/*     line-height: 200%;*/
  }

}


@media (min-width: 768px) {
/*// Medium devices (tablets, 768px and up)*/

.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
}

}

@media (min-width: 992px) {
/*// Large devices (desktops, 992px and up)*/
.divDesktopView {
  display: none;
}

.divMobileView {
  display: block;
} 

}

@media (min-width: 1200px) {
/*// Extra large devices (large desktops, 1200px and up)*/
.divDesktopView {
  display: block;
}

.divMobileView {
  display: none;
}  
}

}