﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:69px;
  width:122px;
  height:37px;
  font-size:15px;
  text-align:left;
}
#u1449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:116px;
  width:113px;
  height:37px;
  font-size:15px;
  text-align:left;
}
#u1450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:75px;
  width:320px;
  height:25px;
}
#u1451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:506px;
  width:138px;
  height:28px;
  font-size:15px;
  text-align:left;
}
#u1452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:515px;
  width:156px;
  height:25px;
}
#u1453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:515px;
  width:67px;
  height:25px;
}
#u1454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:514px;
  width:51px;
  height:25px;
}
#u1455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:512px;
  width:33px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  word-wrap:break-word;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:699px;
  width:830px;
  height:140px;
}
#u1458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:68px;
  word-wrap:break-word;
}
#u1459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:143px;
  height:50px;
}
#u1459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:139px;
  word-wrap:break-word;
}
#u1460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:143px;
  height:50px;
}
#u1460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:139px;
  word-wrap:break-word;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:141px;
  height:50px;
}
#u1461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u1462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:50px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:0px;
  width:193px;
  height:50px;
}
#u1462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:189px;
  word-wrap:break-word;
}
#u1463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:138px;
  height:50px;
}
#u1463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u1464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:72px;
  height:30px;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:50px;
  width:143px;
  height:30px;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:50px;
  width:143px;
  height:30px;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:50px;
  width:141px;
  height:30px;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:50px;
  width:193px;
  height:30px;
}
#u1468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:50px;
  width:138px;
  height:30px;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:72px;
  height:30px;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u1471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:80px;
  width:143px;
  height:30px;
}
#u1471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:80px;
  width:143px;
  height:30px;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:80px;
  width:141px;
  height:30px;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:80px;
  width:193px;
  height:30px;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:80px;
  width:138px;
  height:30px;
}
#u1475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:72px;
  height:30px;
}
#u1476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:110px;
  width:143px;
  height:30px;
}
#u1477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:110px;
  width:143px;
  height:30px;
}
#u1478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:110px;
  width:141px;
  height:30px;
}
#u1479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:110px;
  width:193px;
  height:30px;
}
#u1480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:110px;
  width:138px;
  height:30px;
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:660px;
  width:139px;
  height:28px;
}
#u1482_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482.mouseOver {
}
#u1482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:657px;
  width:32px;
  height:32px;
}
#u1483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:124px;
  width:320px;
  height:22px;
}
#u1484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1484_input:disabled {
  color:grayText;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:163px;
  width:188px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:164px;
  width:320px;
  height:25px;
}
#u1486_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:336px;
  width:138px;
  height:28px;
  font-size:15px;
  text-align:left;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u1488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:8px;
  width:140px;
  height:40px;
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:921px;
  width:140px;
  height:40px;
}
#u1489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:381px;
  width:69px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:382px;
  width:202px;
  height:25px;
}
#u1491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:387px;
  width:74px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:393px;
  width:202px;
  height:22px;
}
#u1493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1493_input:disabled {
  color:grayText;
}
#u1494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:425px;
  width:60px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:431px;
  width:202px;
  height:22px;
}
#u1495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1495_input:disabled {
  color:grayText;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:419px;
  width:60px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:349px;
  width:159px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:352px;
  width:272px;
  height:22px;
}
#u1498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1498_input:disabled {
  color:grayText;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:423px;
  width:202px;
  height:25px;
}
#u1499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:466px;
  width:60px;
  height:28px;
  font-family:'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:469px;
  width:566px;
  height:25px;
}
#u1501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:2px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:626px;
  width:883px;
  height:1px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:310px;
  width:151px;
  height:20px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  white-space:nowrap;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:516px;
  width:78px;
  height:22px;
}
#u1504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1504_input:disabled {
  color:grayText;
}
#u1505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:201px;
  width:113px;
  height:37px;
  font-size:15px;
  text-align:left;
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:209px;
  width:320px;
  height:22px;
}
#u1506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1506_input:disabled {
  color:grayText;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:207px;
  width:188px;
  height:25px;
}
#u1507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
