﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:22px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:58px;
  width:231px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:227px;
  white-space:nowrap;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:62px;
  width:100px;
  height:16px;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2441_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:101px;
  width:100px;
  height:16px;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2442_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:225px;
  width:66px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:225px;
  width:205px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:196px;
  width:112px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:270px;
  width:119px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:17px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:310px;
  width:82px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:313px;
  width:135px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:220px;
  width:68px;
  height:25px;
}
#u2451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:266px;
  width:112px;
  height:25px;
}
#u2452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:308px;
  width:112px;
  height:25px;
}
#u2453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:218px;
  width:67px;
  height:25px;
}
#u2455_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:223px;
  width:181px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u2457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:224px;
  width:66px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:159px;
  width:111px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:220px;
  width:135px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2459_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:280px;
  width:245px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u2460_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:2px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:256px;
  width:699px;
  height:1px;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:607px;
  width:75px;
  height:24px;
}
#u2462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:607px;
  width:75px;
  height:24px;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:607px;
  width:75px;
  height:24px;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:607px;
  width:75px;
  height:24px;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:195px;
  width:108px;
  height:165px;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:49px;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:108px;
  height:43px;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:108px;
  height:43px;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:21px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:158px;
  width:316px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:312px;
  white-space:nowrap;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:195px;
  width:714px;
  height:388px;
}
#u2473_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:388px;
  overflow:auto;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:238px;
  width:85px;
  height:23px;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:282px;
  width:83px;
  height:25px;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:326px;
  width:83px;
  height:25px;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u2477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:29px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:14px;
  width:830px;
  height:28px;
}
#u2477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:17px;
  width:25px;
  height:23px;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:17px;
  width:23px;
  height:23px;
}
#u2479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
